.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
}

.for-img {
    width: 50%; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    position: relative; /* Add position relative to the parent container */
}

.slider {
    display: flex;
    width: 300%; /* 3 images, so 300% */
    animation: slide 9s infinite; /* 3s per image for a total of 9s */
}

.img {
    width: 33.33%; /* Each image takes 1/3 of the slider width */
    flex-shrink: 0;
    border-radius: 8px; 
}

@keyframes slide {
    0% { transform: translateX(0); }
    33.33% { transform: translateX(0); }
    33.34% { transform: translateX(-33.33%); }
    66.66% { transform: translateX(-33.33%); }
    66.67% { transform: translateX(-66.66%); }
    100% { transform: translateX(-66.66%); }
}

.input-container {
    width: 35%; 
    padding: 20px;
    border-radius: 8px;
    margin-right: 70px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 85%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e6e6e6; 
    border-radius: 4px;
    font-size: 14px; 
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #EF9C66;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e8c76d;
}

input:focus, button:focus {
    outline: none;
    border-color: #555; 
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .for-img {
        width: 100%; 
        margin-bottom: 20px;
    }

    .input-container {
        width: 100%; 
        margin-right: 0; 
        padding: 10px; 
    }
}

.val-container{
    display: flex;
    flex-direction: row;
    width: 20vw;
}

.item-hints {
  /* height: 500px; */
  width: 10%;
  /* margin: 250px auto; */
}
.item-hints .hint {
  width: 60px;
  height: 60px;
  /* margin: 150px auto; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  left: 200px; */
}
.item-hints .hint::before {
  /* //rotated squre */
  background-color: #000000;
  width: 8px;
  height: 8px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-hints .hint::after {
  /* //green glow */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  /* -webkit-box-shadow: 0 0 50px 30px rgba(72, 170, 72, 0.3); */
  /* box-shadow: 0 0 50px 30px rgba(72, 170, 72, 0.3); */
  /* -webkit-animation: home_hero_item_hints_glow 2s
    cubic-bezier(0.25, 0.1, 0.2, 1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(0.25, 0.1, 0.2, 1)
    infinite; */
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
}
@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px #48aa48;
    box-shadow: 0 0 30px 5px #48aa48;
  }
  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 70px 50px rgba(72, 170, 72, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
    box-shadow: 0 0 0 50px rgba(72, 170, 72, 0);
  }
}
.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%, -0%) scale(0.95);
  transform: translate(-0%, -0%) scale(0.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  /* margin: auto; */
}
@-webkit-keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}
@keyframes home_hero_item_hints_border {
  0%,
  100% {
    border-color: rgba(255, 255, 255, 0.6);
    -webkit-transform: translate(-50%, -50%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
  }
  50% {
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1);
  }
}
.item-hints .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color, opacity, visibility,
    -webkit-transform;
  transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, transform;
  transition-property: background-color, opacity, visibility, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease, ease, ease,
    cubic-bezier(0.5, 0, 0, 1);
  transition-timing-function: ease, ease, ease, cubic-bezier(0.5, 0, 0, 1);
}
.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}
.item-hints .hint-content {
  color: #000000;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
  color: #000000;
  visibility: hidden;
  pointer-events: none;
}
.item-hints .hint:hover .hint-content {
  color: #000000;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  pointer-events: none;
  color: #000000;
  visibility: hidden;
  pointer-events: none;
}
.item-hints .hint-content::before {
  width: 0px;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #000000;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}
.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}
.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 80px;
  content: "";
  background-color: #000000;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}
.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}
